# Configuring https://pre-commit.ci/
ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: 
          - --skip=*.bib
          - -L fo  # ignore specific words

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          - "**/*.{md,qmd}"
          - --fix
          - --ignore=LICENSE.md
          - --config=.markdownlint.yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.7
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
