project:
  type: book
  resources:
    - "*.ipynb"  # Include jupyter notebooks in the rendered book

book:
  title: "Animals In Motion"
  # For Authors and Affiliations schemas see https://quarto.org/docs/journals/authors.html
  author:
    - name: Niko Sirmpilatze
      url: https://nikosirmpilatze.com/
      email: n.sirmpilatze@ucl.ac.uk
      orcid: 0000-0003-1778-2427
      corresponding: true
      affiliations:
        - id: SWC
          name: Sainsbury Wellcome Centre, UCL
          department: Sainsbury Wellcome Centre
          group: Neuroinformatics Unit
          city: London
          country: United Kingdom
          url: https://www.sainsburywellcome.org/web/
    - name: Sofía Miñano
      url: https://github.com/sfmig
      orcid: 0000-0001-6363-1545
      affiliations:
        - ref: SWC
    - name: Chang Huan Lo
      url: https://github.com/lochhh
      orcid: 0000-0002-8262-7258
      affiliations:
        - ref: SWC
  date: today
  date-format: long
  favicon: "img/logo_niu_light.png"
  chapters:
    - index.qmd
    - 01-intro.qmd
    - 02-deep-learning.qmd
    - 03-sleap-tutorial.qmd
    - 04-movement-intro.qmd
    - 05-movement-mouse.qmd
    - 06-movement-zebras.ipynb
  appendices:
    - prerequisites.qmd
    - contributing.qmd
    - references.qmd
  page-footer: "This website is made with [Quarto Book](https://quarto.org/docs/books), see @sec-contributing." 
  # Options for GitHub repository links
  repo-url: https://github.com/neuroinformatics-unit/animals-in-motion
  repo-subdir: book
  repo-actions: [edit, source, issue]
  repo-link-target: _blank  # open in new tab

bibliography: references.bib

# Explicitly disable PDF rendering
pdf: false

format:
  html:
    theme:
      - cosmo
      - brand


# Options for code execution: https://quarto.org/docs/computations/caching.html
execute: 
  cache: true
jupyter: python3

license: "CC BY"

funding:
  statement: >
    The first edition of this workshop was made possible by a Software Sustainability Institute
    fellowship to Niko Sirmpilatze, as well as further funding support by the Sainsbury Wellcome Centre,
    the Society for Research Software Engineering and AIBIO-UK.
